span{
	color: #ffffff;
}

ul{
	width: auto;
	float: right;
	margin-top: 8px;

}

li{
	display: inline-block;
	padding: 15px 30px;

}

.an{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
    transition: all 0.5s;
}

.an:hover{
	color: #784aff;
	transition: 0.5s;
}

.btn{
	transition: all 0.5s;
	color: #000000;
    height: 100px;
    width: 200px;
	border-radius: 20px;
    border: 0px;
    color: #ffffff;
    background-color: #626fff;
    text-transform: uppercase;
}

.btn:hover{
	background-color: #4954c7;
}

.btn:active{
	background-color: #2f3686;
    transform: translate(0%, 10%);
    transition: 0.05s;
}

#cry{
	position: absolute;
	top: 30%;
	left: 15%;
}