

#title{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: linear-gradient(to left,
    #1b0000,
    #ff3232,
    #8c45ff,
    #5a3dff,
    #1e003a);
    -webkit-background-clip: text;
	background-clip: text;
    color: transparent;
}



span{
	color: var(--text);
}

ul{
	width: auto;
	float: right;
	margin-top: 8px;

}

li{
	display: inline-block;
	padding: 15px 30px;

}

.an{
	text-align: center;
	color: var(--text);
	text-decoration: none;
	font-size: 15px;
    transition: all 0.5s;
	background: linear-gradient(to left,
	#7b29ff,
	#2138ff);
	-webkit-background-clip: text;
	background-clip: texts;
	color: transparent;
}

.an:hover{
	color: var(--main-color);
	transition: 0.5s;
}



#cry{
	position: absolute;
	top: 30%;
	left: 30%;
}

.acc{
	transition: all 0.5s;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	border: 1px;
	border-color: #aaaaaa;
	border-style: solid;
}

.acc:hover{
	transform: translate(0px, -5px)
}

.acc:active{
	transition: all 0.05s;
	transform: translate(0px, 5px)
}

#nxt_ab{
	position: absolute;
	top: 40%;
	left: 93%;
}


#prev_in{
	position: absolute;
	top: 40%;
	left: 1%;
}

#nxt_pr{
	position: absolute;
	top: 40%;
	left: 93%;
}


#prev_ab{
	position: absolute;
	top: 40%;
	left: 1%;
}

#nxt_co{
	position: absolute;
	top: 40%;
	left: 93%;
}


#prev_pr{
	position: absolute;
	top: 40%;
	left: 1%;
}

#about{
	font-size: 30px;
}

#learning{
	top: 90%;
}