

#title{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: linear-gradient(to left,
    #1b0000,
    #ff3232,
    #8c45ff,
    #5a3dff,
    #1e003a);
    -webkit-background-clip: text;
	background-clip: text;
    color: transparent;
}



span{
	color: var(--text);
}

ul{
	width: auto;
	float: right;
	margin-top: 8px;

}

li{
	display: inline-block;
	padding: 15px 30px;

}

html{
    background-color: #0c0c0c;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;  
}

.an{
	text-align: center;
	color: var(--text);
	text-decoration: none;
	font-size: 20px;
    transition: all 0.5s;
	background: linear-gradient(to left,
	#7b29ff,
	#2138ff);
	-webkit-background-clip: text;
	background-clip: texts;
	color: transparent;
}

.an:hover{
	position: relative;
	color: var(--main-color);
	font-size: 24px;
	transition: 0.5s;
}



#cry{
	position: absolute;
	top: 30%;
	left: 30%;
}



#nxt_pro{
	position: absolute;
	top: 150%;
	left: 60%;
}


#prev_in{
	position: absolute;
	top: 100%;
	left: 40%;
}

#nxt_pr{
	position: absolute;
	top: 40%;
	left: 60%;
}



#nxt_co{
	position: absolute;
	top: 100%;
	left: 60%;
}


#prev_pr{
	position: absolute;
	top: 130%;
	left: 40%;
}

#about{
	font-size: 30px;
}

#learning{
	top: 90%;
}

#hobbys{
	top: 130%;
}

#cryption{
	position: absolute;
	top: 30%;
	left: 25%;
}

#info-cryption{
	position: absolute;
	transform: translate(0, -70px);
}

#mail-add{
	position: absolute;
	transform: translate(290px, 10px);
	height: 50px;
	width: 400px;
	border-radius: 10px;
}

#mail-con{
	font-size: 20px;
	transform: translate(5px, 100px);
    height: 200px;
    width: 950px;
    border-radius: 10px;
    resize: none;
    background-color: #1a1a1a;
    color: #ffffff;
}

#mail-sub{
	color: #ffffff;
	background-color: #1a1a1a;
	height: 50px;
	width: 100px;
	transform: translate(0, 120px);
	border: 2px;
	border-radius: 10px;
	border-style: solid;
	border-color:#0ee3ff;
}

#info-github{
	transform: translate(20px, -70px);
}

#github-h{
	position: absolute;
	top: 90%;
	left: 42%;
}