:root {
    --main-color: #62daff;
    --bg: #0a0a0a;
    --text: #ffffff;
}

.btn{
	transition: all 0.5s;
	color: #000000;
	border-radius: 20px;
    border: 4px;
    border-color: var(--main-color);
    color: var(--text);
    border-style: solid;
    background-color: var(--bg);
    text-transform: uppercase;
}

.btn:hover{
    box-shadow: 
    0 0 30px var(--text),
    0 0 60px var(--text);
    border-color: var(--text);
    color: var(--text);
}

.btn:active{
	background-color: #ffffff;
    transform: translate(0%, 10%);
    transition: 0.05s;
    color: #000000;
}

.action{
    height: 50px;
    width: 100px;
}

.pro{
    height: 100px;
    width: 200px;
}

.text{
    color: var(--text);
	font-size: 40px;
	position: absolute;
}

.con-text{
    color: var(--text);
	font-size: 25px;
	position: absolute;
}

@keyframes transform-op {
    0%{
        opacity: 0;
    }

    5%{
        opacity: 0.05;
    }

    10%{
        opacity: 0.1;
    }

    15%{
        opacity: 0.15;
    }

    20%{
        opacity: 0.2;
    }

    25%{
        opacity: 0.25;
    }

    30%{
        opacity: 0.3;
    }

    35%{
        opacity: 0.35;
    }

    40%{
        opacity: 0.4;
    }

    45%{
        opacity: 0.45;
    }

    50%{
        opacity: 0.5;
    }

    55%{
        opacity: 0.55;
    }

    60%{
        opacity: 0.6;
    }

    65%{
        opacity: 0.65;
    }

    70%{
        opacity: 0.7;
    }

    75%{
        opacity: 0.75;
    }

    80%{
        opacity: 0.8;
    }

    85%{
        opacity: 0.85;
    }

    90%{
        opacity: 0.9;
    }

    95%{
        opacity: 0.95;
    }

    100%{
        opacity: 1;
    }

}

@keyframes wobble {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }

}

.transition{
    animation: transform-op 1.5s;
}

.txt-btn{
    color: var(--text);
    text-align: center;
	text-decoration: none;
	font-size: 15px;
    transition: all 0.5s;
    font-size: 30px;
    font-style: bold;
    background: linear-gradient(to left,
    #9c45ff,
    #1f1cff
    );
    -webkit-background-clip: text;
	background-clip: text;
    color: transparent;
}

.txt-btn:hover{
    font-size: 35px;
}


  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.content{
    overflow: scroll;
    transition: all 5s;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    color: #181818;
    border: 20px;
    border-style: solid;
    border-color: #181818;
    border-radius: 20px;
    height: 30%;
    width: 40%;
}

.content-small{
    overflow: scroll;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    color: #181818;
    border: 20px;
    border-style: solid;
    border-color: #181818;
    border-radius: 20px;
    height: 20%;
    width: 30%;
}

.content-pro{
    overflow: scroll;
    transition: all 5s;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    color: #181818;
    border: 20px;
    border-style: solid;
    border-color: #181818;
    border-radius: 20px;
    height: 60%;
    width: 60%;
}

.title-ani{
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: linear-gradient(to left,
    #9c45ff,
    #1f1cff
    );
    -webkit-background-clip: text;
	background-clip: text;
    color: transparent;
    animation: wobble 2s linear infinite;
    animation-play-state: paused; 
}

.title-ani:hover{
    animation-play-state: running;
}

.title-ani:active{
    animation-play-state: running;
}

.pro-img{
    object-fit: cover;
    border-radius: 20px;
}

.project{
    position: absolute;
    border: 30px;
    background-color: #282828;
    border-color: #282828;
    border-style: solid;
    border-radius: 10px;
}

.github{
    text-decoration: none;
    transform: translate(20px, 50px);
    background-color: #282828;
    border: 10px;
    border-style: solid;
    border-color: #282828;
    border-radius: 10px;
}