:root {
    --main-color: #62daff;
    --bg: #1f1f1f;
    --text: #ffffff;
}

html{
    background-color: var(--bg);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;  
}

#title{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 40px;
}


.btn{
	transition: all 0.5s;
	color: #000000;
	border-radius: 20px;
    border: 4px;
    border-color: var(--main-color);
    color: var(--text);
    border-style: solid;
    background-color: var(--bg);
    text-transform: uppercase;
}

.btn:hover{
    box-shadow: 
    0 0 30px var(--text),
    0 0 60px var(--text);
    border-color: var(--text);
    color: var(--text);
}

.btn:active{
	background-color: #ffffff;
    transform: translate(0%, 10%);
    transition: 0.05s;
    color: #000000;
}

.action{
    height: 50px;
    width: 100px;
}

.pro{
    height: 100px;
    width: 200px;
}