#input{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    border-radius: 10px;
    resize: none;
    background-color: #656565;
    color: #ffffff;
}

#password{
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: #656565;
    color: #ffffff;
    border: none;
    height: 25px;
}

#output{
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    border-radius: 10px;
    resize: none;
    background-color: #656565;
    color: #ffffff;
    
}

#error{
    position: absolute;
    top: 34%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: #ff0000;
    font-size: 40px;
}

@media only screen and (max-width: 1100px){
    #input{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 50%;
        border-radius: 10px;
        resize: none;
        background-color: #656565;
        color: #ffffff;
    }

    #password{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #656565;
        color: #ffffff;
        border: none;
        height: 25px;
    }

    #output{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 50%;
        border-radius: 10px;
        resize: none;
        background-color: #656565;
        color: #ffffff;
        
    }

    #error{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ff0000;
        font-size: 40px;
    }
}

@media only screen and (min-width: 1100px) and (max-height: 800px){
    #password{
        transform: translate(-50%, 50px)
    }
}

@media only screen and (max-height: 600px) and (max-width: 1100px){
    #password{
        transform: translate(-50%, 50px)
    }

    #output{
        transform: translate(-50%, 50px)
    }

    #error{
        transform : translate(-50%, 50px)
    }
}

@media only screen and (max-width: 600px) and (max-height: 800px){
    #input{
        transform: translate(-50%, 50px)
    }
    #password{
        transform: translate(-50%, 100px)
    }

    #output{
        transform: translate(-50%, 50px)
    }

    #error{
        transform : translate(-50%, 50px)
    }
}


#input::placeholder{
    color: #ffffff;
}
#password::placeholder{
    color: #ffffff;
}
#output::placeholder{
    color: #ffffff;
}